.tasksnav {
    padding: 50px;
    display: inline;
    margin-top: 10px;


}

.funcs {
    padding-left: 20px;
}


hr {
    width: 90%;
    
}

#taskboard {
    display: grid;
}

.tasks {
    border: 1px solid;
    width: 20%;
    border-radius: 10px;
    height: fit-content;
    width: 80%;

}
.tasktitle {
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 50px;

}

#options{
    margin-bottom: -30px;
    padding: 5px;
    display: inline-block;
}
.taskdate >  p {
    font-size: 10px;
    margin-left: 10px;


}

.newtask {
    /* background-color: rgb(165, 159, 159); */
    display: flex;
    justify-content: center;
}
.taskdesc > h3  {
    margin-left: 15px;
}

.taskoptions {
    float: right;
    margin-top: -30px;
    display: inline-block;
}

.tasks > form{
    margin: 50px;
}


