.tasksnav {
    padding: 50px;
    display: inline;
    margin-top: 10px;


}

.funcs {
    padding-left: 20px;
}


hr {
    width: 90%;
    
}

#taskboard {
    display: grid;
}

.tasks {
    border: 1px solid;
    width: 20%;
    border-radius: 10px;
    height: fit-content;
    width: 80%;

}
.tasktitle {
    font-size: 18px;
            font-weight: bold;

}

#options{
    margin-bottom: -30px;
    padding: 5px;
    display: inline-block;
}
.taskdate >  p {
    font-size: 5px;
    margin-left: 10px;


}

.newtask {
    /* background-color: rgb(165, 159, 159); */
    display: flex;
    justify-content: center;
}
.taskdesc > h3  {
    margin-left: 15px;
}

.taskoptions {
    display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center
  ;
}

.tasks > form{
    margin: 50px;
}


#taskboard {
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 20px;
}

.card {
    background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            background-color: #f9f9f9;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 300px;
     }

     .button {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      /* Delete button styles */
      .delete-button {
        background-color: #ff5c5c;
        color: #fff;
        border: 2px solid #ff3333;
      }
      
      .delete-button:hover {
        background-color: #ff3333;
      }
      
      /* Complete button styles */
      .complete-button {
        background-color: #5cd65c;
        color: #fff;
        border: 2px solid #33cc33;
      }
      
      .complete-button:hover {
        background-color: #33cc33;
      }