<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="/static/js/layout.js" type="text/babel"></script>
    <link rel="stylesheet" href="/static/css/layout.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block css %}
        
    {% endblock css %}
    
</head>
<body>
    <div id="navbar">
        <div id="homeButton"><a href="/"><button>home</button></a> </div>
        {% if session %}     
        <div id="tasks"> <a href="/tasks"><button>tasks</button></a></div>
        <div id="logout"><button onclick="logout()">logout</button></a></div>
        {%else%}
        <div id="login"><a href="/login"><button>login</button></a></div>

        {% endif %}
    </div>
    <div id="main">
    {% block body %}
        
    {% endblock body %}
    </div>
    {% block js %}
        
    {% endblock js %}
</body>
</html>