{% extends 'layout.html' %}

{% block js %}
    <script src="/static/js/tasks.js" type="text/babel"></script>
{% endblock js %}

{% block css %}
    <link rel="stylesheet" href="/static/css/tasks.css">
    
{% endblock css %}

{% block body %}
    
    <div class="tasksnav">
        <button onclick="showtasks()"> tasks</button>
        <button onclick="showcompleted()">completed tasks</button>
        <button onclick="newtask()">new task</button>
        

    </div>
    <hr>
    <div class="funcs">
        <label for="search">look for task:</label>
        <input type="text" name="search" id="search" onkeyup="filtertasks()" onmouseleave="">


    </div>
    <hr>
    <div id="taskboard" onload="showtasks()"></div>
{% endblock body %}